{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spart Assistant</title>

  <!-- Link para o arquivo CSS -->
  <link rel="stylesheet" href="{% static 'css/chat.css' %}">
</head>

<body>
  <button id="chat-button">
    <img src="{% static '/image/capacete.png' %}" style="height: 35px; width: 35px;" />
  </button>

  <div id="chat-modal">
    <div id="chat-header">
      <span><img src="{% static '/image/capacete.png' %}" style="height: 17px; width: 17px;" /> Spart Assistant</span>
      <div>
        <button class="clear-chat-button" onclick="limparConversa()" title="Limpar conversa">🗑️</button>
        <button onclick="fecharChat()" title="Fechar chat">✕</button>
      </div>
    </div>
    <div id="chat-body">
      <div class="message message-bot">
        <div class="message-label">Spart</div>
        <div class="message-content">
          Olá! Sou o Spart, seu assistente especializado no Spartacus.Diga seu nome, e Como posso ajudar você hoje?
        </div>
      </div>
    </div>
    <div id="chat-footer">
      <input type="text" id="chat-input" placeholder="Digite sua pergunta..." onkeypress="handleKeyPress(event)" />
      <button id="send-button" onclick="enviarPergunta()" title="Enviar mensagem">➤</button>
    </div>
  </div>

  <!-- Link para o arquivo JavaScript -->
  <script src="{% static 'js/chat.js' %}"></script>
</body>

</html>