{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spart Assistant</title>

  <!-- Link para o arquivo CSS -->
  <link rel="stylesheet" href="{% static 'css/chat.css' %}">
</head>

<body>
  <button id="chat-button">
    <img src="{% static '/image/capacete.png' %}" style="height: 35px; width: 35px;" />
  </button>

  <div id="chat-modal">
    <div id="chat-header">
      <span><img src="{% static '/image/capacete.png' %}" style="height: 17px; width: 17px;" /> Spart</span>
      <button onclick="fecharChat()">X</button>
    </div>
    <div id="chat-body"></div>
    <div id="chat-footer">
      <input type="text" id="chat-input" placeholder="Faça sua pergunta..." />
      <button id="send-button" onclick="enviarPergunta()">➤</button>
    </div>
  </div>

  <!-- Link para o arquivo JavaScript -->
  <script src="{% static 'js/chat.js' %}"></script>
</body>

</html>